body {
    margin: 0;  
}

.container {
    height: 1920px;
    background-image: url("./image/marten-bjork-Z2EgLCJob40-unsplash.jpg");
    background-size:cover;
}

.header {
    display: flex;
    border: 1px solid red;
    width: 70%;
    margin-left: 15%;
    padding: 10px;
}

.logo {
    height: 50px;
}

.header-btns {
    display: inline-flex;
    border: 1px solid green;
    width: 400px;
    justify-content: space-between;
    margin-left: 52%;
}

.list-buttons {
    background: none;
    font-family: "Bebas Neue", sans-serif;
    border: none;
    color: #FF7400;
    font-size: larger;
}

.list-buttons:hover {
    color: #F4F4F4;
    cursor: pointer;
}

.body-class {
    display: flex;
    border: 1px solid red;
    width: 70%; 
    margin-left: 15%; 
    margin-top: 15px;
}

.texto {
    display: inline-block;
    width: 500px;
    height: 600px;
    margin-top: 8%;
    border: 2px solid green;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    color: #F4F4F4;
    font-size: xx-large;
    align-items: center;
}

.body-btn {
    display: inline-block;
    width: 500px;
    height: 300px;
    border: 2px solid rebeccapurple;
}

.btn-class {
    width: 250px;
    height: 60px;
    margin-top: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
    letter-spacing: 5px;
    background: #FF7400;
    color:#F4F4F4;
    font-weight: 100;
    border: none;
}

.btn-class:hover {
    cursor: pointer;
    background: none;
    border: 3px solid #FF7400;
    color: #F4F4F4;
}

.img-body {
    width: 700px;
    background-image:url('./image/escavadeira.png');
    background-size: 110%;
    background-repeat: no-repeat;
    border: 1px solid yellow;
}