* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    
    font-family: "Bebas Neue", sans-serif;
}

:root {
    --laranja: #FF7400;
    --branco: #F4F4F4;
    --cinza: #161616;
}

@media (max-width: 700px) {
    .corpo {
        background-image: url("./image/marten-bjork-Z2EgLCJob40-unsplash.jpg");
        background-size: cover;
        width: 100vw;
        height: 75vh;
    }

    .navegacao {
        display: flex;
        width: 100vw;
        align-content: center;
        justify-content: space-evenly;
    }

    .navegacao > img {
        width: 100px;
    }

    .links {
        display: flex;
        width: 40vw;
        margin-left: 25%;
        align-items: center;
        justify-content: space-between;
    }

    .links p a {
        color: var(--laranja);
    }

    .links p a:hover {
        color: var(--branco);
    }
    
    .apresentacao {
        padding: 20px; 
    }

    .apresentacao h1 {
        color: var(--branco);
        margin-bottom: 15px; 
        letter-spacing: 2px;
        font-size: 4rem;       
    }

    .apresentacao button {
        width: 300px;
        height: 40px;
        font-size: 1.8rem;
        background: none;
        border: 2px solid var(--laranja);
        color: var(--branco);
        letter-spacing: 2px;    
    }

    .apresentacao button:hover {
        background: var(--laranja);
    }

    .apresentacao img {
        width: 200px;
    }

    .apresentacao img {
        display: none;
    }

    .sobre {
        width: 100vw;
        height: 50vh;
        background-color: var(--laranja);
        border-radius: 60px;
        align-content: center;
        justify-content: center;
    }

    .sobre h1, p {
        margin-bottom: 15px;
        text-align: left;
        width: 90%;
        padding: 10px;
    }

    .sobre img {
        display: none;
    }

    .container {
        max-width: 1200px;
        margin-top: 40px;
        width: 95%;
      }
      .slider-wrapper {
        position: relative;
      }
      .slider-wrapper .slide-button {
        position: absolute;
        top: 50%;
        outline: none;
        border: none;
        height: 50px;
        width: 50px;
        z-index: 5;
        color: #fff;
        display: flex;
        cursor: pointer;
        font-size: 2.2rem;
        background: #000;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transform: translateY(-50%);
      }
      .slider-wrapper .slide-button:hover {
        background: #404040;
      }
      .slider-wrapper .slide-button#prev-slide {
        left: -25px;
        display: none;
      }
      .slider-wrapper .slide-button#next-slide {
        right: -25px;
      }
      .slider-wrapper .image-list {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 18px;
        font-size: 0;
        list-style: none;
        margin-bottom: 30px;
        overflow-x: auto;
        scrollbar-width: none;
      }
      .slider-wrapper .image-list::-webkit-scrollbar {
        display: none;
      }
      .slider-wrapper .image-list .image-item {
        width: 325px;
        height: 400px;
        object-fit: cover;
      }
      .container .slider-scrollbar {
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
      }
      .slider-scrollbar .scrollbar-track {
        background: #ccc;
        width: 100%;
        height: 2px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        position: relative;
      }
      .slider-scrollbar:hover .scrollbar-track {
        height: 4px;
      }
      .slider-scrollbar .scrollbar-thumb {
        position: absolute;
        background: #000;
        top: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        cursor: grab;
        border-radius: inherit;
      }
      .slider-scrollbar .scrollbar-thumb:active {
        cursor: grabbing;
        height: 8px;
        top: -2px;
      }
      .slider-scrollbar .scrollbar-thumb::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        bottom: -10px;
      }
      /* Styles for mobile and tablets */
      @media only screen and (max-width: 1023px) {
        .slider-wrapper .slide-button {
          display: none !important;
        }
        .slider-wrapper .image-list {
          gap: 10px;
          margin-bottom: 15px;
          scroll-snap-type: x mandatory;
        }
        .slider-wrapper .image-list .image-item {
          width: 280px;
          height: 380px;
        }
        .slider-scrollbar .scrollbar-thumb {
          width: 20%;
        }
      }
}

@media (min-width: 700px) {
   
    .corpo {
     background-image: url("./image/marten-bjork-Z2EgLCJob40-unsplash.jpg");
     background-size: cover;
     width: 100vw;
     height: 100vh;
   }

   .navegacao {
    display: flex;
    
    width: 100vw;
    align-content: center;
    justify-content: space-around;
}

    .navegacao > img {
    width: 150px;
    }

    .links {
    display: flex;
    
    width: 20vw;
    margin-left: 25%;
    align-items: center;
    justify-content: space-evenly;
    }

    .links p a {
    color: var(--laranja);
    font-size:  1.5rem;
    text-decoration: none;
    }

    .links p a:hover {
    color: var(--branco);
    }

    .apresentacao {
        
        width: 100vw;
        justify-items: center;
    }

    .apresentacao {   
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .apresentacao h1 {
        color: var(--branco);
        margin-bottom: 15px; 
        letter-spacing: 2px;
        font-size: 4rem;       
    }

    .apresentacao button {
        width: 300px;
        height: 40px;
        font-size: 1.8rem;
        background: none;
        border: 2px solid var(--laranja);
        color: var(--branco);
        letter-spacing: 2px;    
    }

    .apresentacao button:hover {
        background: var(--laranja);
    }

    .apresentacao img {
        width: 40vw;
    }

    .sobre {
        width: 100vw;
        height: 800px;
        background-color: var(--laranja);
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre h1, p {
        margin-bottom: 15px;
        text-align: left;
        width: 90%;
        font-size: 1.3rem;
        padding: 10px;
    }

    .sobre h1 {
        font-size: xx-large;
    }

    .sobre img {
       width: 50vw;
       position: relative;
    }

    .carrosel {
        display: flex;
        justify-content: space-around;
    }

    .container {
        max-width: 1200px;
        margin-top: 40px;
        width: 95%;
      }
      .slider-wrapper {
        position: relative;
      }
      .slider-wrapper .slide-button {
        position: absolute;
        top: 50%;
        outline: none;
        border: none;
        height: 50px;
        width: 50px;
        z-index: 5;
        color: #fff;
        display: flex;
        cursor: pointer;
        font-size: 2.2rem;
        background: #000;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transform: translateY(-50%);
      }
      .slider-wrapper .slide-button:hover {
        background: #404040;
      }
      .slider-wrapper .slide-button#prev-slide {
        left: -25px;
        display: none;
      }
      .slider-wrapper .slide-button#next-slide {
        right: -25px;
      }
      .slider-wrapper .image-list {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 18px;
        font-size: 0;
        list-style: none;
        margin-bottom: 30px;
        overflow-x: auto;
        scrollbar-width: none;
      }
      .slider-wrapper .image-list::-webkit-scrollbar {
        display: none;
      }
      .slider-wrapper .image-list .image-item {
        width: 325px;
        height: 400px;
        object-fit: cover;
      }
      .container .slider-scrollbar {
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
      }
      .slider-scrollbar .scrollbar-track {
        background: #ccc;
        width: 100%;
        height: 2px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        position: relative;
      }
      .slider-scrollbar:hover .scrollbar-track {
        height: 4px;
      }
      .slider-scrollbar .scrollbar-thumb {
        position: absolute;
        background: #000;
        top: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
        cursor: grab;
        border-radius: inherit;
      }
      .slider-scrollbar .scrollbar-thumb:active {
        cursor: grabbing;
        height: 8px;
        top: -2px;
      }
      .slider-scrollbar .scrollbar-thumb::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        bottom: -10px;
      }
      /* Styles for mobile and tablets */
      @media only screen and (max-width: 1023px) {
        .slider-wrapper .slide-button {
          display: none !important;
        }
        .slider-wrapper .image-list {
          gap: 10px;
          margin-bottom: 15px;
          scroll-snap-type: x mandatory;
        }
        .slider-wrapper .image-list .image-item {
          width: 280px;
          height: 380px;
        }
        .slider-scrollbar .scrollbar-thumb {
          width: 20%;
        }
      }

}
    