body {
    margin: 0;  
}

.container {
    height: 1920px;
    background-image: url("./image/marten-bjork-Z2EgLCJob40-unsplash.jpg");
    background-size:cover;
}

.header {
    display: flex;
    border: 1px solid red;
    width: 70%;
    margin-left: 15%;
    padding: 10px;
}

.logo {
    height: 50px;
}

.header-btns {
    display: inline-flex;
    border: 1px solid green;
    width: 400px;
    justify-content: space-between;
    margin-left: 52%;
}

.list-buttons {
    background: none;
    font-family: "Bebas Neue", sans-serif;
    border: none;
    color: #FF7400;
    font-size: larger;
}

.list-buttons:hover {
    color: #F4F4F4;
    cursor: pointer;
}
